<div class="well">
    {{ form_errors(form) }}
    {{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.name, null, {'label': 'Nom','label_attr': {'class': 'foo'}} )}}
        {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group">
        {{ form_label(form.lastname, null, {'label': 'Prenom','label_attr': {'class': 'foo'}} )}}
        {{ form_widget(form.lastname, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group">
        {{ form_label(form.image, null, {'label': 'Selectionner une image','label_attr': {'class': 'foo'}} )}}
        {{ form_widget(form.image, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group">
        {{ form_label(form.description, null, {'label': 'Description','label_attr': {'class': 'foo'}} )}}
        {{ form_widget(form.description, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="btn btn-success">
        {{ form_widget(form.Sauvegarder, { 'attr': {'class': 'btn btn-success'} }) }}
    </div>
    {{ form_end(form) }}
</div>