<div class="well" >
    {{ form_errors(form) }}
    {{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.title, null, {'label': 'Titre','label_attr': {'class': 'foo'}} )}}
        {{ form_widget(form.title, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group">
        {{ form_label(form.online, null, {'label': 'En ligne','label_attr': {'class': 'foo'}} )}}
        {{ form_widget(form.online, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group">
        {{ form_label(form.image, null, {'label': 'Selectionner une image','label_attr': {'class': 'foo'}} )}}
        {{ form_widget(form.image, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="btn btn-success">
        {{ form_widget(form.Sauvegarder, { 'attr': {'class': 'btn btn-success'} }) }}
    </div>
    {{ form_end(form) }}

</div>