<!-- Start Content -->
<div class="main" role="main">
    <div id="content" class="content full">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <header class="single-post-header clearfix">
                        <nav class="btn-toolbar pull-right"> <a href="#" class="btn btn-default" data-placement="bottom" data-toggle="tooltip" data-original-title="Print" ><i class="fa fa-print"></i></a> <a href="#" class="btn btn-default" data-placement="bottom" data-toggle="tooltip" data-original-title="Contact us" ><i class="fa fa-envelope"></i></a> <a href="#" class="btn btn-default" data-placement="bottom" data-toggle="tooltip" data-original-title="Share event" ><i class="fa fa-location-arrow"></i></a> </nav>
                        <h2 class="post-title">{{ event.title }}</h2>
                    </header>
                    <article class="post-content">
                        <div class="event-description"> <img src="{{ event.image }}" class="img-responsive">
                            <div class="spacer-20"></div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">details de l'evenement</h3>
                                        </div>
                                        <div class="panel-body">
                                            <ul class="info-table">
                                                <li><i class="fa fa-calendar"></i> <strong>{{ event.date|date('l') }}</strong> | {{  event.date|date(' j F, Y') }}</li>
                                                <li><i class="fa fa-clock-o"></i> {{ event.heureDebut | date('h:i A') }} - {{ event.heureFin | date('h:i A') }}</li>
                                                <li><i class="fa fa-map-marker"></i>{{ event.lieu }}</li>
                                                <li><i class="fa fa-phone"></i>{{ event.phone }}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <ul class="list-group">
                                        <li class="list-group-item"> <span class="badge">14</span> Attendees </li>
                                        <li class="list-group-item"> <span class="badge">4</span> Staff members </li>
                                    </ul>
                                </div>
                            </div>
                            <p> {{ event.content | raw }}</p>
                            <audio class="audio-player" id="player2" src="{{ asset('frontend/audio/Miaow-02-Hidden.mp3') }}" type="audio/mp3" controls></audio>
                        </div>
                    </article>
                </div>