{{  include('MeupfFrontEndBundle::header.html.twig') }}
{{  include('MeupfFrontEndBundle:Post:post_header.html.twig') }}
{% block body %}
    <!-- Start Content -->
    <div class="main" role="main">
        <div id="content" class="content full">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 posts-archive">
                        {% for article in articles %}
                            {% if article.online == 1 %}
                        <article class="post">
                            <div class="row">
                                <div class="col-md-4 col-sm-4"><img src="{{ article.image }}" alt="" class="img-thumbnail"></div>
                                <div class="col-md-8 col-sm-8">
                                    <h3>{{ article.title }}</h3>
                                    <span class="post-meta meta-data"> <span><i class="fa fa-calendar"></i>{{  article.createdAt|date('l, j F, Y') }}</span><span><i class="fa fa-archive"></i> <a href="{{ path('meupf_front_end_all_article_slug', { 'id': article.categorie.id ,'slug': article.categorie.slug  }) }}">{{ article.categorie.name }}</a></span> <span><a href="#"><i class="fa fa-comment"></i> 12</a></span></span>
                                    <p>{{  article.content | truncate(250, false, '...') | raw }}</p>
                                    <p><a href="{{ path('meupf_front_end_view_slug', { 'id': article.id ,'slug': article.slug, 'year':  article.createdAt|date('Y')  }) }}" class="btn btn-primary">En lire + <i class="fa fa-long-arrow-right"></i></a></p>
                                </div>
                            </div>
                        </article>
                            {% endif %}
                        {% endfor %}
                            {{ knp_pagination_render(articles) }}
                    </div>
                    <!-- Start Sidebar -->
                    <div class="col-md-3 sidebar">
                        <div class="widget sidebar-widget search-form-widget">
                            <div class="input-group input-group-lg">
                                <input type="text" class="form-control" placeholder="Search Posts...">
                <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="fa fa-search fa-lg"></i></button>
                </span> </div>
                        </div>
                        {{ include('MeupfFrontEndBundle:Post:article_categorie_sidebar.html.twig') }}
                        <div class="widget sidebar-widget">
                            <div class="sidebar-widget-title">
                                <h3>Article Tags</h3>
                            </div>
                            <div class="tag-cloud"> <a href="#">Faith</a> <a href="#">Heart</a> <a href="#">Love</a> <a href="#">Praise</a> <a href="#">Sin</a> <a href="#">Soul</a> <a href="#">Missions</a> <a href="#">Worship</a> <a href="#">Faith</a> <a href="#">Heart</a> <a href="#">Love</a> <a href="#">Praise</a> <a href="#">Sin</a> <a href="#">Soul</a> <a href="#">Missions</a> <a href="#">Worship</a> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{{  include('MeupfFrontEndBundle::footer.html.twig') }}