{{  include('MeupfFrontEndBundle::header.html.twig') }}
{{  include('MeupfFrontEndBundle:Temoignage:temoignage_header.html.twig') }}
{% block body %}
<!-- Start Content -->
<div class="main" role="main">
    <div id="content" class="content full">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <header class="single-post-header clearfix">
                        <div class="pull-right post-comments-count"> <a href="#comments"><i class="fa fa-comment"></i> 23</a> </div>
                        <h2 class="post-title">{{ temoignage.name }}</h2>
                    </header>
                    <article class="post-content"> <span class="post-meta meta-data"><span><i class="fa fa-calendar"></i> Posté le {{  temoignage.createdAt|date('d-m-Y') }}</span> <span><i class="fa fa-archive"></i> Categories: <a href="#"></a></span></span>
                        <div class="featured-image"> <img src="{{ temoignage.image }}" alt=""> </div>
                        <p>{{  temoignage.message | raw }}</p>
                        <div class="post-meta"> <i class="fa fa-tags"></i> <a href="#">Faith</a>, <a href="#">Heart</a>, <a href="#">Love</a>, <a href="#">Praise</a>, <a href="#">Sin</a>, <a href="#">Soul</a> </div>
                    </article>
                    {# include 'MeupfFrontEndBundle:Comments:comment.html.twig' with { 'comments': comments } #}
                </div>
                <!-- Start Sidebar -->
                <div class="col-md-3 sidebar">
                    <div class="widget sidebar-widget search-form-widget">
                        <div class="input-group input-group-lg">
                            <input type="text" class="form-control" placeholder="Search Posts...">
                <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="fa fa-search fa-lg"></i></button>
                </span> </div>
                    </div>
                    <div class="widget sidebar-widget">
                        <div class="sidebar-widget-title">
                            <h3>Sermon Tags</h3>
                        </div>
                        <div class="tag-cloud"> <a href="#">Faith</a> <a href="#">Heart</a> <a href="#">Love</a> <a href="#">Praise</a> <a href="#">Sin</a> <a href="#">Soul</a> <a href="#">Missions</a> <a href="#">Worship</a> <a href="#">Faith</a> <a href="#">Heart</a> <a href="#">Love</a> <a href="#">Praise</a> <a href="#">Sin</a> <a href="#">Soul</a> <a href="#">Missions</a> <a href="#">Worship</a> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{{  include('MeupfFrontEndBundle::footer.html.twig') }}