<div class="well">
    {{ form_errors(form) }}
    {{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.title, null, {'label': 'Titre','label_attr': {'class': 'foo'}} )}}
        {{ form_widget(form.title, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group">
        {{ form_label(form.categorie, null, {'label': 'Categorie','label_attr': {'class': 'foo'}} )}}
        {{ form_widget(form.categorie, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group">
        {{ form_label(form.lieu, null, {'label': 'Lieu','label_attr': {'class': 'foo'}} )}}
        {{ form_widget(form.lieu, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group">
        {{ form_label(form.image, null, {'label': 'Selectionner une image','label_attr': {'class': 'foo'}} )}}
        {{ form_widget(form.image, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group">
        {{ form_label(form.phone, null, {'label': 'Téléphone','label_attr': {'class': 'foo'}} )}}
        {{ form_widget(form.phone, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group">
        {{ form_label(form.date, null, {'label': 'Date de l\'évenement ','label_attr': {'class': 'foo'}} )}}
        {{ form_widget(form.date, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group">
        {{ form_label(form.online, null, {'label': 'En ligne','label_attr': {'class': 'foo'}} )}}
        {{ form_widget(form.online, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group">
        {{ form_label(form.heureDebut, null, {'label': 'Heure de début','label_attr': {'class': 'foo'}} )}}
        {{ form_widget(form.heureDebut, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group">
        {{ form_label(form.heureFin, null, {'label': 'Heure fin','label_attr': {'class': 'foo'}} )}}
        {{ form_widget(form.heureFin, { 'attr': {'class': 'form-control'} }) }}
    </div>

    <div class="form-group">
        {{ form_label(form.content, null, {'label': 'Contenu de l\'evenement','label_attr': {'class': 'foo'}} )}}
        {{ form_widget(form.content, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="btn btn-success">
        {{ form_widget(form.Sauvegarder, { 'attr': {'class': 'btn btn-success'} }) }}
    </div>
    {{ form_end(form) }}
</div>