{% trans_default_domain 'FOSUserBundle' %}


<div class="span9">
    <div class="row-fluid">
        <div class="page-header">
            <h2>Nouveau utilisateur <small>créer un utilisateur</small></h2>
        </div>
        <div class="well">
            {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register form-horizontal'}}) }}
            <fieldset>
                <div class="control-group">
                    {{ form_label(form.username, null, {'label': 'Nom utilisateur','label_attr': {'class': 'control-label'}} )}}
                    <div class="controls">
                        {{ form_widget(form.username, { 'attr': {'class': 'input-xlarge'} }) }}
                    </div>
                </div>
                <div class="control-group">
                    {{ form_label(form.email, null, {'label': 'Adresse email','label_attr': {'class': 'control-label'}} )}}
                    <div class="controls">
                        {{ form_widget(form.email, { 'attr': {'class': 'input-xlarge'} }) }}
                    </div>
                </div>
                <div class="control-group">
                    {{ form_label(form.plainPassword, null, {'label': ' ','label_attr': {'class': 'control-label'}} )}}
                    <div class="controls">
                        {{ form_widget(form.plainPassword, { 'attr': {'class': 'input-xlarge'} }) }}
                    </div>
                </div>
                <div class="control-group">
                    {{ form_label(form.phone, null, {'label': 'Téléphone','label_attr': {'class': 'control-label'}} )}}
                    <div class="controls">
                        {{ form_widget(form.phone, { 'attr': {'class': 'input-xlarge'} }) }}
                    </div>
                </div>
                <div class="control-group">
                    {{ form_label(form.enabled, null, {'label': 'Activer ?','label_attr': {'class': 'control-label'}} )}}
                    <div class="controls">
                        {{ form_widget(form.enabled, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="control-group">
                    {{ form_label(form.roles, null, {'label': 'Role','label_attr': {'class': 'control-label'}} )}}
                    <div class="controls">
                        {{ form_widget(form.roles, { 'attr': {'class': 'input-xlarge'} }) }}
                    </div>
                </div>
                <div class="form-actions">
                    {{ form_widget(form.Enregistrer, { 'attr': {'class': 'btn btn-success'} }) }} <a class="btn btn-success" href="#">Enregistrer sans quitter</a> <a class="btn btn-success" href="#">Annuler</a>
                </div>
            </fieldset>
        {{ form_end(form) }}
        </div>
    </div>
</div>


