<div class="well">
    {{ form_errors(form) }}
    {{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.name, null, {'label': 'Titre','label_attr': {'class': 'foo'}} )}}
        {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="btn btn-success">
        {{ form_widget(form.Sauvegarder, { 'attr': {'class': 'btn btn-success'} }) }}
    </div>
    {{ form_end(form) }}
</div>