{% extends "MeupfPlateformBundle::layout.html.twig" %}
{% block title %}{{ parent() }} - gestion des sermons{% endblock %}

{% block body  %}
    <div class="span9">
        <div class="row-fluid">
            <div class="page-header">
                <h1>Categorie <small>tous le categorie sermon</small></h1>
            </div>
            {% if is_granted('ROLE_USER') %}
                <p><a  class = 'btn btn-success' href="{{ path('meupf_categorie_sermon_add') }}"> Ajouter une categorie</a></p>
            {% endif %}
            <table class="table table-striped table-bordered table-condensed">
                <thead>
                <tr>
                    <th>#Id</th>
                    <th>Titre</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for categorie in listCategories %}
                    <tr class="list-users">
                        <td>{{ categorie.id}}</td>
                        <td>{{ categorie.name}}</td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">Actions <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('meupf_categorie_sermon_edit', { 'id': categorie.id }) }}"><i class="icon-pencil"></i> Editer</a></li>
                                    {% if categorie.id == 3 %}
                                        <li><a href="#"><i class="icon-trash"></i> Supprimer</a></li>
                                    {% else %}
                                        <li><a class="confirmModal" href="{{ path('meupf_categorie_sermon_delete', { 'id': categorie.id }) }}"><i class="icon-trash"></i> Supprimer</a></li>
                                    {% endif %}
                                    <li><a href="#"><i class="icon-user"></i> Details</a></li>
                                </ul>
                            </div>

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="pagination">
                {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
                {% for p in range(1, nbPages) %}
                    <ul> <li{% if p == page %} class="active"{% endif %}>
                            <a href="{{ path('meupf_categorie_sermon_home', {'page': p}) }}">{{ p }}</a>
                        </li></ul>
                {% endfor %}
            </div>
            <a href="{{ path('meupf_categorie_sermon_add') }}" class="btn btn-success">Ajouter une categorie</a>
        </div>
    </div>
{% endblock %}